.logo {
    text-align: center;
    padding: 20px;
}
.logo img {
    width: 100%;
}

.erros,
.perdeu,
.ganhou,
.palavra,
.teclado {
    text-align: center;
}
.palavra span,
.teclado button {
    margin: 5px;
    text-transform: uppercase;
}
.erros img {
    width: 100%;
}
.erros .resumo {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: right;
}
.palavra {
    margin-top: 30px;
    margin-bottom: 30px;
}
.palavra span {
    display: inline-block;
    margin: 0px;
    padding: 0;
    min-width: 20px;
    color: #000;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}
.palavra-certa {
    text-transform: uppercase;    
}

ion-modal-view ion-content {
    text-align: center;
}